<script>
    pay=this.due-this.date
</script>

<a class="btn btn-primary" href="/invoice">GO BACK</a>

<div class="list">
<table style="border:1px solid rgb(197, 179, 179) ; margin:auto;">
    <thead>
        <tr>
            <th>Working Hours</th>
            <th>Work Expenses</th>
            <th>Materials</th>
            <th>Labor</th>
            <th>Total</th>
            <th>Status</th>
            <th colspan = '3'>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.wrkHrs}}</td>            
            <td>{{this.wrkExp}}</td>
            <td>{{this.mat}}</td>
            <td>{{this.lab}}</td>
            <td>{{this.total}}</td>
            <td><a><b>{{this.status}}</b></a></td>
            <td> <a href="/invoice/{{this._id}}" style='background:black; padding:5px; border-radius: 3px ; color:white; text-decoration: none;'> Edit Status</a></td>
            <td>
                <a style='background:black; padding:5px; border-radius: 3px ; color:white; text-decoration: none;' href="/invoice/delete/{{this._id}}">Delete</a>
            </td>
            <td> <a href="/invoice/sendmail/{{this._id}}" style='background:black; padding:5px; border-radius: 3px ; color:white; text-decoration: none;'> Send Email</a></td>
            <td>bill is due {{pay}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>